---
layout: pages
title: Home&#58; All Nots
---

<h1>All Nots</h1>

<h2>a11yNots</h2>
{% assign nots = site.nots %}
<ul>{% for not in nots %}
{% if not.source != 'devtools' %}{% if not.source != 'w3' %}	<li><a href="{{ not.url }}">{{ not.title }}</a>{% endif %}{% endif %}
{% endfor %}</ul>

<h2>Accessibility Developer Tools Nots</h2>
<ul>{% for not in nots %}
{% if not.source == 'devtools' %}	<li><a href="{{ not.url }}">{{ not.title }}</a>{% endif %}
{% endfor %}</ul>

<h2>WCAG Nots</h2>
<ul>{% for not in nots %}
{% if not.source == 'w3' %}	<li><a href="{{ not.url }}">{{ not.title }}</a>{% endif %}
{% endfor %}</ul>

