
@media (orientation: landscape) {

	body {
		margin: 0;
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 20px minmax(min-content,1fr) minmax(min-content,1fr) 20px;
		grid-template-areas:
			"header header mainnav mainnav"
			". content content .";
	}

	header {
		grid-area: header;
		border-bottom: 4px solid black;
	}

	nav {
		grid-area: mainnav;
		border-bottom: 4px solid black;
	}
	
	main {
		grid-area: content;
		border: 1px solid grey;
		border-top: none;
	}
}

@media (orientation: portrait) {
	body {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	grid-template-areas:
		"header"
		"content"
		"mainnav";
	}
	
	header {
		grid-area: header;
	}
	
	main {
		grid-area: content;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
	}
	
	nav {
		grid-area: mainnav;
	}
}