
@media (orientation: landscape) {

	body {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
	grid-template-areas:
		"header header"
		"navigation content";
	}
	
	header {
		grid-area: header;
		border-bottom: 1px solid red;
	}

	header h2 {
		margin-left: 20px;
		margin-bottom: 10px;
	}
	
	header h2 img {
		margin-right: 3px;
		height: 25px;;
	}

	nav[aria-label="Browse by Guideline"] {
		grid-area: navigation;
		margin: 5px;
		margin-left: 20px;
		padding: 15px;
		border: 1px solid blue;
	}
	main {
		grid-area: content;
		margin: 5px;
		margin-right: 20px;
		padding: 15px;
		border: 1px solid green;
	}
}

@media (orientation: portrait) {
	body {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	grid-template-areas:
		"header"
		"content"
		"navigation";
	}
	
	header { grid-area: header; border: 1px solid red;}
	nav[aria-label="Browse by Guideline"] { grid-area: navigation; border: 1px solid blue;}
	main { grid-area: content; border: 1px solid green;}
}
