<nav aria-label="Browse by Guideline">
	<h3>Browse by Guideline</h3>
	<ul>
		<!-- <li><a href="/nots/wcag/">WCAG All</span></a> -->
		<li><a href="/nots/wcag/fail/">WCAG Failures</a>
		<!-- <li><a href="/nots/wcag/pass/"><span class="visually-hidden">WCAG</span> Passes</a> -->
<!--
		<li><a href="/nots/508/">508 All</a>
		<li><a href="/nots/508/fail/">508 Failures</a>
		<li><a href="/nots/508/pass/">508 Passes</a>
-->
	</ul>
</nav><!-- end Browse by Guideline-->
<!-- Eventually for tag-based navigation
<nav>
	<h3>Browse by Component</h3>
	<ul>
		...loop through tags creating links to tag pages
	</ul>
</nav>
-->