<header>
	<h2>
		<a href="http://a11yfoo.github.io">a11yfoo Testing Area
	</h2>
	<nav>
		<ul>
			<li><a href="/tests/wcag/">WCAG<span class="visually-hidden"> All</span></a>
			<li><a href="/tests/wcag/fail/"><span class="visually-hidden">WCAG</span> Failures</a>
			<li><a href="/tests/wcag/pass/"><span class="visually-hidden">WCAG</span> Passes</a>
<!--
			<li><a href="/tests/508/">508<span class="visually-hidden"> All</span></a>
			<li><a href="/tests/508/fail/"><span class="visually-hidden">508</span> Failures</a>
			<li><a href="/tests/508/pass/"><span class="visually-hidden">508</span> Passes</a>
-->
		</ul>
	</nav>
</header>