<header>
	<h2>
		<a href="http://a11yNot.github.io">a11y-Not Testing Area</a>
	</h2>
	<nav>
		<h3>Browse by Guideline</h3>
		<ul>
			<!-- <li><a href="/tests/wcag/">WCAG All</span></a> -->
			<li><a href="/tests/wcag/fail/">WCAG Failures</a>
			<!-- <li><a href="/tests/wcag/pass/"><span class="visually-hidden">WCAG</span> Passes</a> -->
<!--
			<li><a href="/tests/508/">508 All</a>
			<li><a href="/tests/508/fail/">508 Failures</a>
			<li><a href="/tests/508/pass/">508 Passes</a>
-->
		</ul>
	</nav>
<!-- Eventually for tag-based navigation
	<nav>
		<h3>Browse by Component</h3>
		<ul>
			...loop through tags creating links to tag pages
		</ul>
	</nav>
-->

</header>